.slider-container {
    margin: 0 auto;
    margin-top: 2rem;
    width: 53vw;
    position: relative;
    height: 400px;
    overflow: hidden;
  }

  @media screen and (max-width: 768px) {
    .slider-container{
      width: 80vw;
    }
   
  }
  .slide {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out all;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
.prev,
.next {
  position: absolute;
  bottom: 16%;
  background: #64748b;
  color: #fff;
  width: 4.25rem;
  height: 3.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition:  0.3s ease-in-out all;
}
.prev:hover,
.next:hover {
  background: #8b5cf6;
}
.prev {
  left: 42%;
}
.next {
  right: 40%;
}
@media screen and (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .prev {
    left: 30%;
  }
  .next {
    right: 30%;
  }
  .slider-container{
    height: 350px;
  }
}
@media screen and (max-width: 320px) {
  .slider-container{
    height: 380px;
  }
}
@media screen and (min-width:500px) and (max-width: 768px) {
  .prev {
    left: 36%;
  }
  .next {
    right: 36%;
  }
}
@media screen and (min-width:768px) and (max-width: 1200px) {
  .prev {
    left: 32%;
  }
  .next {
    right: 35%;
  }
}
.next-slide {
  transform: translateX(100%);
}

.cactive{
  border-bottom: 2px solid rgba(67, 75, 253, 1);
    position: relative;
    top: 10px;
    font-weight: 700;
}
.cnotactive{
  position: relative;
  top: 10px;
}